<!DOCTYPE html>
<html lang="es-ES">

 <% include partials/head.ejs %>

<body class="bg-theme bg-theme1">

<!-- Start wrapper-->
 <div id="wrapper">

 <div class="height-100v d-flex align-items-center justify-content-center">
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="error-title text-white"> ✖ </h1>
                        <h2 class="error-sub-title text-white">Error</h2>

                        <p class="error-message text-white text-uppercase">Lo sentimos, usuario o contraseña incorrectos</p>
                        
                        <div class="mt-4">
                          <a href="/" class="btn btn-light btn-round m-1">Ir Inicio Sesión </a>
                          
                        </div>

                        <div class="mt-4">
                            <p class="text-white">Telegram: @Eyednet</p>
                        </div>
                           <hr class="w-50 border-light">
                        <div class="mt-2">
                            <a href="javascript:void()" class="btn-social btn-social-circle waves-effect waves-light m-1"><i class="fa fa-telegram"></i></a>
                            <a href="javascript:void()" class="btn-social btn-social-circle waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
                            <a href="javascript:void()" class="btn-social btn-social-circle waves-effect waves-light m-1"><i class="fa fa-behance"></i></a>
                            <a href="javascript:void()" class="btn-social btn-social-circle waves-effect waves-light m-1"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        </div>
	 <% include partials/colorSwitcher.ejs %>

 </div><!--wrapper-->


    <!-- Bootstrap core JavaScript-->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
	
  <!-- sidebar-menu js -->
  <script src="assets/js/sidebar-menu.js"></script>
  
  <!-- Custom scripts -->
	
</body>
</html>
