<!DOCTYPE html>
<html lang="es-ES">

 <% include partials/head.ejs %>

<body class="bg-theme bg-theme1">

<% include partials/sidebar-wrappeer.ejs%>

<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
      <!--End Dashboard Content-->
    <!--start overlay-->
	  <div class="overlay toggle-menu"></div>
    <!--end overlay-->
	
    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
  
	
	
  <% include partials/footer.ejs %>	
  <% include partials/colorSwitcher.ejs %>
   
  </div><!--End wrapper-->
  <% include partials/corejs.ejs %>

  
</body>
</html>
