<!DOCTYPE html>
<html lang="es-ES">

 <% include partials/head.ejs %>

<body class="bg-theme bg-theme1">

<% include partials/sidebar-wrappeer.ejs%>

<div class="clearfix"></div>
	
  <div class="content-wrapper">
    
    

    <div class="container-fluid">
    <form action="/" method="POST">
             <button style="margin-top:20px;" type="submit" class="btn btn-gradient-secondary m-1">Salir</button>
             </form>
      <!--Start Dashboard Content-->
    <form action="/dashboard" method="POST">
    <div class="card">
    <div class="card-header text-uppercase">Introduzca La Url Del Video de Youtube</div>
     <div class="card-body">
       <div class="row">
         <div class="col-12 col-lg-12 col-xl-12">
           <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">🚀</span>
              </div>
              <input type="text" name="you_url" class="form-control" placeholder="Youtube Url">
            </div>
            <button style="margin-top:20px;" type="submit" class="btn btn-light btn-block">Iniciar</button>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     
      
     </form>
    
        
         <!--end row-->

    

     </div>
  
         
     
   </div>
      <!--End Dashboard Content-->
    <!--start overlay-->
	  <div class="overlay toggle-menu"></div>
    <!--end overlay-->
	
    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
  
    	
  	
  <% include partials/footer.ejs %>	
  <% include partials/colorSwitcher.ejs %>
   
  </div><!--End wrapper-->


  <!-- Bootstrap core JavaScript-->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
    <!-- sidebar-menu js -->
  <script src="assets/js/sidebar-menu.js"></script>
  
  <!-- Custom scripts -->
  <script src="assets/js/app-script.js"></script>
	
 <!-- simplebar js -->
  <script src="assets/plugins/simplebar/js/simplebar.js"></script>
 
  <!-- loader scripts -->
  <script src="http://codervent.com/dashtreme/demo/transparent-admin/vertical-layout/assets/js/jquery.loading-indicator.js"></script>
  <!-- Custom scripts -->
  <script src="assets/js/app-script.js"></script>
  <!-- Chart js -->
  
  <script src="assets/plugins/Chart.js/Chart.min.js"></script>
  <!-- Vector map JavaScript -->
  <script src="assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
  <!-- Easy Pie Chart JS -->
  <script src="assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
  <!-- Sparkline JS -->
  <script src="assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
  <script src="assets/plugins/jquery-knob/excanvas.js"></script>
  <script src="assets/plugins/jquery-knob/jquery.knob.js"></script>
    
  
  <!-- Index js -->
  <script src="assets/js/index.js"></script>

  
</body>
</html>
